body {
    background-color: rgb(58,59,60);
    display: flex;
    flex-direction: column;
}

/* header elements */

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: white;
    height: 50px;
}

header > div > p {
    padding-left: 20px;
} 

header ul {
    text-decoration: none;
    display: flex;
    padding-right: 20px;
}

header li {
    padding-right: 20px;
}

/* main elements */

main section {
    display: flex;
    justify-content: center;
}

main table {
    margin: 20px;
    width: 50%;
    border: 2px solid white;
    color: white;
}

/* main table td,th {

} */

/* footer elements */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer section {
    background: white;
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;
}

footer img,li {
    padding: 20px;
}

footer ul {
    display: flex;
}

/* about main elements */

main section, main p {
    padding: 10px;
    color: white;
}
main img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.aboutme {
    display:flex;
    align-items: center;
    margin: 10px 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input,textarea,button {
    margin: 5px;
    width: 100%;
}